<mat-form-field>
  <input matInput type="number" [ngModel]="device?.position" (ngModelChange)="device.position = $event" placeholder="Position"/>
</mat-form-field>
<mat-form-field>
  <input matInput [ngModel]="device?.name" (ngModelChange)="device.name = $event" placeholder="Name"/>
</mat-form-field>
<mat-form-field>
  <input matInput type="number" [ngModel]="device?.weight" (ngModelChange)="device.weight = $event" placeholder="Weight"/>
</mat-form-field>
<mat-form-field>
  <input matInput [ngModel]="device?.symbol" (ngModelChange)="device.symbol = $event" placeholder="Symbol"/>
</mat-form-field>

<button mat-fab color="accent" (click)="clearDevice()">
  <mat-icon aria-label="New">add</mat-icon>
</button>
<button mat-raised-button color="primary" (click)="saveDevice()">
  Save
</button>
