<div>
  <h4>Devices</h4>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="deviceId">
      <th mat-header-cell *matHeaderCellDef> Device ID </th>
      <td mat-cell *matCellDef="let element"> {{element.deviceId}} </td>
    </ng-container>

    <ng-container matColumnDef="deviceType">
      <th mat-header-cell *matHeaderCellDef> Device Type </th>
      <td mat-cell *matCellDef="let element"> {{element.deviceType}} </td>
    </ng-container>

    <ng-container matColumnDef="deviceNumber">
      <th mat-header-cell *matHeaderCellDef> Device Number </th>
      <td mat-cell *matCellDef="let element"> {{element.deviceNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="hostName">
      <th mat-header-cell *matHeaderCellDef> Hostname </th>
      <td mat-cell *matCellDef="let element"> {{element.hostName}} </td>
    </ng-container>

    <ng-container matColumnDef="domainName">
      <th mat-header-cell *matHeaderCellDef> Domain Name </th>
      <td mat-cell *matCellDef="let element"> {{element.domainName}} </td>
    </ng-container>

    <ng-container matColumnDef="adminState">
      <th mat-header-cell *matHeaderCellDef> Administrative State </th>
      <td mat-cell *matCellDef="let element"> {{element.adminState}} </td>
    </ng-container>

    <ng-container matColumnDef="more">
      <th mat-header-cell *matHeaderCellDef> More </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="selectDevice(element)">
          <mat-icon aria-label="Edit">launch</mat-icon>
        </button>
        <button mat-icon-button (click)="getDeviceDirectLink(element)">
          <mat-icon aria-label="Edit">attach_file</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteDevice(element)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.selected]="row.deviceId && row.deviceId === selectedDevice?.deviceId"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
