<h1 mat-dialog-title>Update Location</h1>
<div mat-dialog-content>
  <div class="dialog-fields" fxLayout="column">
    <mat-form-field>
      <input matInput [(ngModel)]="location.locationId" id="locationEdit_locationId" placeholder="Location Id" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="location.address" id="locationEdit_address" placeholder="Location Address" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="location.contactPhone" id="locationEdit_contactPhone" placeholder="Contact Phone" required>
    </mat-form-field>
    <mat-form-field>
      <textarea matNativeControl [(ngModel)]="location.comment" id="locationEdit_comment" placeholder="Comment"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="location" cdkFocusInitial color="accent" id="locationEdit_confirm">Update</button>
  <button mat-button (click)="onCancel()" id="locationEdit_cancel">Cancel</button>
</div>
