<h1 mat-dialog-title>Add Device</h1>
<div mat-dialog-content>
  <div class="dialog-fields" fxLayout="column">
    <mat-form-field>
      <input matInput [(ngModel)]="device.deviceId" id="deviceAdd_deviceId" placeholder="Device Id" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="device.deviceType" id="deviceAdd_deviceType" placeholder="Device Type" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="device.deviceNumber" id="deviceAdd_deviceNumber" placeholder="Device Number" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="device.hostName" id="deviceAdd_hostName" placeholder="Hostname"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="device.domainName" id="deviceAdd_domainName" placeholder="Domain Name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Administrative State</mat-label>
      <select matNativeControl [(ngModel)]="device.adminState" id="deviceAdd_adminState">
        <option *ngFor="let state of AdminStateKeys()" [value]="state">{{state}}</option>
      </select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()" id="deviceAdd_cancel">Cancel</button>
  <button mat-button [mat-dialog-close]="device" cdkFocusInitial color="accent" id="deviceAdd_confirm">Add</button>
</div>
