<mat-toolbar class="header">
  <button class="hamburger" mat-button (click)="sidenav.toggle()">
    <mat-icon aria-label="Menu">menu</mat-icon>
  </button>

  <div class="title">
    <img src="../assets/logo.png" alt='Tricom'>
    <h1>
      {{title}}
    </h1>
  </div>

  <button class="debug" mat-button (click)="showMessages()">
    <mat-icon aria-label="Debug Mode">bug_report</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">

    <label>Nav</label>

  </mat-sidenav>
  <mat-sidenav-content>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-around center">
      <app-devices-view fxFlex.gt-sm="60%"></app-devices-view>
      <app-device-details fxFlex.gt-sm="30%"></app-device-details>
    </div>

    <!--(click)="debug=!debug"-app-messages *ngIf="debug"></app-messages-->

  </mat-sidenav-content>
</mat-sidenav-container>
