.header {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 1000;
	border-top: 3px solid #1d63af;
	border-bottom: 1px solid #ccc;
	color: #1d63af;
	background-color: #fff;
	padding-left: 0;
}

.header .title {
	margin: 0 1em;
}

.header img {
	display: inline-block;
	width: 40px;
	height: auto;
	vertical-align: middle;
}

.header h1 {
  vertical-align: middle;
	display: inline-block;
}

.header button {
	height: 100%;
}

.mat-drawer-container {
	background-color: #fff;
}

.mat-sidenav {
		width: 250px;
}

.mat-sidenav a {
	text-decoration: none;
}

.mat-sidenav a:hover,
.mat-sidenav a.active {
	color: #fff;
	background-color: #1d63af;
}


.mat-sidenav-content {
	padding-top: 36px;
  min-height: calc(100vh - 100px);
}
