@import '~src/theme.scss';

.header {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 1000;
	border-top: 3px solid mat-color($tri-primary);
	border-bottom: 1px solid mat-color($tri-primary, 100);
	color: mat-color($tri-primary);
	background-color: #FFF;
	padding-left: 0;
}

.header .title {
	margin: 0 1em;
}

.header img {
	display: inline-block;
	width: 30px;
	height: auto;
	margin-right: 10px;
	vertical-align: middle;
}

.header h1 {
  vertical-align: middle;
	display: inline-block;
}

.header button {
	height: 100%;
}

.mat-drawer-container {
	background-color: #FFF;
}

.mat-sidenav {
		width: 250px;
}

.mat-sidenav a {
	text-decoration: none;
}

.mat-sidenav a:hover,
.mat-sidenav a.active {
	color: mat-color($tri-primary, 50);
	background-color: mat-color($tri-primary);
}


.mat-sidenav-content {
	padding-top: 36px;
  min-height: calc(100vh - 100px);
}
