body {

}

.header {
	width: 100%;
	color: #1d63af;
	margin-bottom: 1em;
}

.header img {
	display: inline-block;
	width: 80px;
	height: auto;
}

.header h1 {
  vertical-align: top;
	display: inline-block;
}
