<mat-toolbar class="header">
  <button class="hamburger" id="menu_toggle" mat-button (click)="sidenav.toggle()">
    <mat-icon aria-label="Menu">menu</mat-icon>
  </button>

  <div class="title">
    <img src="assets/logo.png" alt='Tricom'>
    <h1>
      {{title}}
    </h1>
  </div>

  <button id="debug_toggle" class="debug" mat-button (click)="showMessages()" color="accent">
    <mat-icon aria-label="Debug Mode">bug_report</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">

    <mat-list>
       <a mat-list-item routerLinkActive="active" routerLink="/dashboard" id="nav_dashboard" (click)="sidenav.close()">Dashboard</a>
       <a mat-list-item routerLinkActive="active" routerLink="/devices" id="nav_devices" (click)="sidenav.close()">Devices</a>
       <a mat-list-item routerLinkActive="active" routerLink="/locations" id="nav_locations" (click)="sidenav.close()">Locations</a>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
