.header {
	color: #1d63af;
	padding-left: 0;
}

.title {
	margin: 0 1em;
}

.header img {
	display: inline-block;
	width: 40px;
	height: auto;
	vertical-align: middle;
}

.header h1 {
  vertical-align: middle;
	display: inline-block;
}

.header button {
	height: 100%;
}

.mat-drawer-container {
	background-color: #fff;
}

.mat-sidenav {
		width: 250px;
}

.mat-sidenav-content {
	padding: 2em;
}
