<h4>Device Details</h4>
<div fxLayout="column">
  <mat-form-field>
    <input matInput [(ngModel)]="device.position" type="number"  placeholder="Position"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="device.name" placeholder="Name"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="device.weight" type="number" placeholder="Weight"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="device.symbol" placeholder="Symbol"/>
  </mat-form-field>
</div>
<div gdAuto="column" >
  <div dir="rtl" fxLayoutAlign="flex-end center">
    <button  mat-raised-button color="primary" (click)="saveDevice()">
      Save
    </button>
  </div>
</div>
