<h4>Device Details</h4>
<div fxLayout="column">
  <mat-form-field>
    <input matInput [ngModel]="device?.hostName" (ngModelChange)="device.hostName = $event" id="device.hostName" placeholder="Hostname"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput [ngModel]="device?.domainName" (ngModelChange)="device.domainName = $event" id="device.domainName" placeholder="Domain Name"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Administrative State</mat-label>
    <select matNativeControl [ngModel]="device?.adminState" (ngModelChange)="device.adminState = $event" name="device.adminState">
      <option value="" selected></option>
      <option *ngFor="let state of AdminStateKeys()" [value]="state">{{state}}</option>
    </select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>IP Version Activated</mat-label>
    <select matNativeControl [ngModel]="device?.ipVersionActivated" (ngModelChange)="device.ipVersionActivated = $event" name="device.ipVersionActivated">
      <option value="" selected></option>
      <option *ngFor="let version of IPVersionKeys()" [value]="version">{{version}}</option>
    </select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>IP Version Supported</mat-label>
    <select matNativeControl [ngModel]="device?.ipVersionSupported" (ngModelChange)="device.ipVersionSupported = $event" name="device.ipVersionSupported">
      <option value="" selected></option>
      <option *ngFor="let version of IPVersionKeys()" [value]="version">{{version}}</option>
    </select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [ngModel]="device?.routerCode" (ngModelChange)="device.routerCode = $event" id="device.routerCode" placeholder="Router Code"/>
  </mat-form-field>
  <mat-checkbox [ngModel]="device?.qoS" (ngModelChange)="device.qoS = $event" id="device.qoS">QoS Enabled</mat-checkbox>
  <mat-form-field>
    <input matInput [ngModel]="device?.locationId" (ngModelChange)="device.locationId = $event" id="device.locationId" placeholder="Location ID"/>
  </mat-form-field>
  <mat-form-field>
    <textarea matNativeControl [ngModel]="device?.comment" (ngModelChange)="device.comment = $event" id="device.comment" placeholder="Comment" style="height: 100px;"></textarea>
  </mat-form-field>
</div>
<div gdAuto="column" >
  <div fxLayoutAlign="end center">
    <button  mat-raised-button color="primary" (click)="saveDevice()">
      Save
    </button>
    <div fxFlex></div>
    <button  mat-raised-button (click)="clearDevice()">
      Cancel
    </button>
  </div>
</div>
