<h1 mat-dialog-title>Add Location</h1>
<div mat-dialog-content>
  <div class="dialog-fields" fxLayout="column">
    <mat-form-field>
      <input matInput [(ngModel)]="location.locationId" id="locationAdd_locationId" placeholder="Location Id" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="location.address" id="locationAdd_address" placeholder="Location Address" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="location.contactPhone" id="locationAdd_contactPhone" placeholder="Contact Phone" required>
    </mat-form-field>
    <mat-form-field>
      <textarea matNativeControl [(ngModel)]="location.comment" id="locationAdd_comment" placeholder="Comment"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="location" cdkFocusInitial color="accent" id="locationAdd_confirm">Add</button>
  <button mat-button (click)="onCancel()" id="locationAdd_cancel">Cancel</button>
</div>
